@keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0}
    100% {background-position: -500px 1000px, -400px 400px, -300px 300px}
}
@-moz-keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0}
    100% {background-position: -500px 1000px, -400px 400px, -300px 300px}
}
@-webkit-keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0}
    100% {background-position: -500px 1000px, -400px 400px, -300px 300px}
}
body:before {
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    background: url('https://i.imgur.com/YFhfZNz.png'), url('https://i.imgur.com/BPySOkm.png'), url('https://i.imgur.com/2ARguPW.png') repeat fixed center;
    -webkit-animation: snow 20s steps(600) infinite;
    -moz-animation: snow 20s steps(600) infinite;
    animation: snow 20s steps(600) infinite;
    opacity: .5;
}
